{% extends "layout.html" %}
{% block content %}
<body> 
        <div class="row justify-content-center" style="margin-top: 150px;"> 
        <div class="col-xs-4 mx-1">
            <h1> 404 </h1> 
            <a href="{{ url_for('home') }}" class="btn btn-link"> <i class="fa fa-long-arrow-left"></i> Back to home </a>
        </div>
    </div>

</body>

{% endblock content %}