{% extends "layout.html" %}
{% block content %}
<section class="vh-100 bg-image" style="background-image: url('/static/Images/Background.jpg'); background-size: cover; background-position: center;">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100 mt-4">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h1 class="mb-4">About designgarage</h1>
                            <p>Welcome to designgarage: Denmark's soon to be new interior and art market, a platform for emerging artists to showcase their creations and connect with art collectors, interior designers, and other buyers.</p>
                            <p>At designgarage, we're dedicated to fostering a supportive community where up-and-coming artists can shine. Our platform offers a space for talented individuals to share their artwork and find opportunities to collaborate with like-minded enthusiasts.</p> 
                            <p>Discover a diverse array of artistic expressions in our curated collection, from paintings and sculptures to luxury furniture. Whether you're a seasoned art collector or a newcomer to the scene, designgarage invites you to explore and connect with the next generation of artistic talent.</p>
                            <p>Join us in championing creativity and supporting emerging artists as we celebrate the power of art to inspire, uplift, and enrich our lives. Welcome to designgarage, where innovation meets imagination in Denmark's dynamic art scene.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <!-- Bootstrap JS and jQuery (for modal functionality) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>

{% endblock content %}