{% extends "layout.html" %}
<script src="https://unpkg.com/htmx.org@latest/dist/htmx.min.js"></script>
{% block content %}
<div class="container">
    <div class="row justify-content-start">
        <div class="col-lg-8">
            <div class="card border-0">
                <div class="card-body p-5 mt-4">
                    <div class="media">
                        
                        <div class="media-body">
                            <img class="rounded-circle account-img" src="{{ picturepath }}">
                            <h2 class="account-heading">Welcome {{ current_user.username }}</h2>
                        </div>
                    </div>
                <div class="form-group">
                    <form id="update-email-form" action="/account/update_email" method="POST">
                        {{ form.hidden_tag() }}
                        <label for="new-email">New Email:</label>
                        <input type="email" class="form-control" name="new_email" id="new_email" placeholder="Enter new email address">
                        <button type="submit" class="btn btn-success-2 mt-4 mb-4">Update Email</button>
                    </form>
                    <form id="update-password-form" action="/account/update_password" method="POST">
                        {{ form.hidden_tag() }}
                        <label for="new-password">Update your Password:</label>
                        <input type="password" class="form-control" name="new_password" id="new-password" placeholder="Enter new password" required>
                        <button type="submit" class="btn btn-success-2 mt-4 mb-4">Update Password</button>
                    </form>
                    <div id="error-message-container"></div>
                    
                    <form id="update-picture-form" action="/account/update_picture" method="POST" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            <label for="new-picture">Update your Profile Picture:</label>
                            <input type="file" name="new_picture" id="new-picture" class="form-control-file" required>
                        </div>
                        <button type="submit" class="btn btn-success-2">Update Picture</button>
                        {% if form.picture.errors %}
                            <div class="text-danger">
                                {% for error in form.picture.errors %}
                                    {{ error }}<br>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </form>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% for category, message in messages %}
                    <div id="email-update-response" class="mt-4 notification {{ category }}">
                            {{ message }}
                    </div>
                    {% endfor %}
                    {% endwith %}
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
