{% extends "layout.html" %}
{% block content %}

    <div class="container mt-5">
        <div class="row-products-top ">
                <h1 class="display-4 mb-4 mt-4">All Products</h1>
        </div>
        <div class="row">
            {% for product in products %}
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="product-card">
                    <a href="{{product_base_url}}/{{ product.id }}"> <!-- Make the picture clickable -->
                        {% if product.picturepath %}
                            <img class="product-card-img img-fluid" src="{{productpic_base_url}}/{{ product.picturepath }}" alt="{{ product.title }}"  width="300" height="300">
                        {% else %}
                            <img class="product-card-img img-fluid" src="{{ url_for('static', filename='product_pics/default_product.png') }}" alt="Default Product Picture" width="300" height="300">
                        {% endif %}
                    </a> <!-- End of clickable link -->
                    <div class="product-card-body">
                        <h3 class="product-card-title">{{ product.title }}</h3>
                        <p class="product-card-text"><strong>Price:</strong> {{ product.price }} DKK</p>
                        <div class="row justify-content-center">
                            <div class="col-auto">
                                <a href="{{product_base_url}}/{{ product.id }}" class="btn btn-sm btn-primary">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
