{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-start">
        <div class="col-lg-8">
            <div class="card border-0">
                <div class="card-body p-5 mt-4">
                    <h2>{{ title }}</h2>
                    <img src="{{ picturepath }}" class="img-fluid" alt="Product Image">
                    
                    <form method="POST" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}

                        <div class="form-group">
                            <label class="form-control-label" for="title">Product Name</label>
                            {{ form.title(class="form-control form-control-lg", id="title") }}
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" for="brandname">Product Brand</label>
                            {{ form.brandname(class="form-control form-control-lg", id="brandname") }}
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" for="category">Product Category</label>
                            {{ form.category(class="form-control form-control-lg", id="category") }}
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" for="content">Product Details</label>
                            {{ form.content(class="form-control form-control-lg", id="content") }}
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" for="price">Price</label>
                            {{ form.price(class="form-control form-control-lg", id="price") }}
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" for="picture">Product Picture</label>
                            {{ form.picture(class="form-control-file", id="picture") }}
                        </div>

                        <button type="submit" class="btn btn-success-2">Update Product</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> 
{% endblock %}
