{% block content %}
<div class="container" id="search-results">
    <div class="row">
        {% if results %}
        {% for product in results %}
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="product-card border-0 h-100">
                <a href="{{product_base_url}}/products/{{ product.id }}">
                {% if product.picture_path %}
                <img class="card-img-top" src="{{ url_for('static', filename='product_pics/' + product.picture_path) }}" alt="Product Image">
                {% else %}
                <div class="placeholder-img">
                    <img src="{{ url_for('static', filename='product_pics/default_product.png') }}" alt="Default Product Picture" class="img-fluid">
                </div>
                {% endif %}
            </a>
                <div class="card-body">
                    <h2 class="product-card-title">{{ product.title }}</h2>
                    <p class="product-card-text"><strong>Price:</strong> ${{ product.price }}</p>
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <a href="{{product_base_url}}/products/{{ product.id }}" class="btn btn-sm btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- Pagination Controls -->
        <nav aria-label="Page navigation" class="col-12">
            <ul class="pagination justify-content-center">
                {% if current_page > 1 %}
                    <a class="btn btn-success-2" href="#" hx-get="/search?q={{ request.args.get('q') }}&page={{ current_page - 1 }}" hx-target="#search-results">Previous</a>
                    {% endif %}
                    {% if current_page < total_pages %}
                    <a class="btn btn-success-2" href="#" hx-get="/search?q={{ request.args.get('q') }}&page={{ current_page + 1 }}" hx-target="#search-results">Next</a>
                {% endif %}
                
            </ul>
        </nav>
                {% else %}
                <div class="col">
                    <div class="alert alert-warning" role="alert">
                        No products found with the specified criteria.
                    </div>
                </div>
                {% endif %}
    </div>
</div>
{% endblock %}
