{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row row-products-top">

    </div>

    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="row">
                <!-- Product Image Column -->
                <div class="col-md-6">
                    <div class="images p-3">
                        {% if product.picturepath %}
                        <img id="main-image img-fluid" src="{{productpic_base_url}}/{{ product.picturepath }}"
                            alt="{{ product.title }}" width="300" height="300">
                        {% else %}
                        <img id="main-image img-fluid"
                            src="{{ url_for('static', filename='product_pics/default_product.png') }}"
                            alt="Default Product Picture" width="300" height="300">
                        {% endif %}
                    </div>
                </div>

                <!-- Product Details Column -->
                <div class="col-md-6">
                    <div class="product p-3">
                        <div class="">
                            <h1 class="display-4 mb-4">{{ product.title }}</h1>
                            <h4 class="text-uppercase mb-2">{{ product.brandname }}</h4>

                            <!-- Product Details Textarea -->
                            <div class="form-group">
                                <label class="form-control-label" for="content">Product Details</label>
                                <p class="form-control no-border" id="content"
                                    >{{ product.content }}</p>
                            </div>

                            <!-- Product Price -->
                            <div class="price d-flex flex-row align-items-center mb-4">
                                <h3 class="article-content mr-3">Price:</h3>
                                <h3 class="text-danger">{{ product.price }} DKK</h3>
                            </div>



                            <div class="d-flex justify-content-between align-items-center">
                                <!-- Change "Back" to a link -->
                                <div class="col-xs-4 mx-1">
                                    <a href="{{ url_for('products') }}" class="btn btn-link"><i
                                            class="fa fa-long-arrow-left"></i> Back </a>
                                </div>

                                <div class="col-xs-4 mx-1">
                                    {% if product.username == current_user.username %}
                                    <a class="btn btn-primary"
                                        href="{{ url_for('update_product', product_id=product.id) }}">Update</a>
                                    {% endif %}
                                </div>

                                <div class="col-xs-4 mx-1">
                                    {% if product.username == current_user.username %}
                                    <button type="button" class="btn btn-danger" data-toggle="modal"
                                        data-target="#deleteModal">Delete</button>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Add to Cart Button 
                            <div class="cart mt-2 align-items-center">
                            <button class="btn btn-danger text-uppercase mr-2 px-4">Add to Cart</button>
                            <i class="fa fa-heart text-muted"></i>
                            <i class="fa fa-share-alt text-muted ml-2"></i>
                            </div>-->

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
</div>

<!-- Delete Product Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Product?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action='{{ url_for("delete_product", product_id=product.id) }}' method="POST">
                    {{ delete_form.submit(class="btn btn-danger") }}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}