
body {
  background-color: #ffffff;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }

  .bg-steel {
    background-color: #FFFFFF;
  }
  
  .site-header .navbar-brand{
    font-size: 32px;
    font-weight: 500;
    text-decoration: none;
    color: #3b5d50;;
  }
  .site-header .navbar-brand:hover {
    color: #444444;
  }
  .site-header .navbar-nav .nav-link {
    color: #444444;
    text-decoration: none;
    transition: text-decoration 0.3s ease;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    font-weight: 500;
    color: #444444;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
    text-decoration: underline;
    color: #444444;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }

  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  .account-heading {
    font-size: 2.5rem;
  }
.container {
    border: none;
}
.row {
  border: none;
}
 /* Styles for the products container */
.row-products-top {
  border: none;
  margin-top: 20px;
  padding: 20px;
}

 /* Styles for the products cards */
@keyframes pulsate {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1.1); } /* Keep the size at 110% until the end */
}

.product-card:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 5px 0 10px rgba(0, 0, 0, 0.1); /* Adjust values as needed */
  transition: box-shadow 0.3s ease; 
  animation: pulsate 1s;
}

.product-card:hover {
  transform: scale(1.1); /* Keep the size at 110% when hovered over */
}

.product-card {
  transition: transform 1s;
  overflow: hidden; /* Add smooth transition to revert back to original size */
  margin-bottom: 30px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card:not(:hover) {
  transform: scale(1); /* Revert back to original size when not hovered */
}

.product-card-body {
  padding: 20px;
}
.product-card-img {
  width: 300%;
  height: 300px;
  object-fit: cover;
}

.product-card-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.product-card-text {
  color: #555;
  font-size: 16px;
  line-height: 1.6;
}

/* custom button */
.btn-quarter {
  width: 25%;
  height: auto;
  padding: 8px 16px;
}


@media (max-width: 991.98px) {
    .container-lg {
        max-width: 100%;
    }
}

.gradient-custom-3 {
  /* fallback for old browsers */
  background: #3b5d50;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(59, 93, 80, 0.5), rgba(234, 229, 219, 0.5));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(59, 93, 80, 0.5), rgba(234, 229, 219, 0.5))
  }
  .gradient-custom-4 {
  /* fallback for old browsers */
  background: #3b5d50;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(59, 93, 80, 1), rgba(234, 229, 219, 1));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(59, 93, 80, 1), rgba(234, 229, 219, 1))
  }

  .vh-100 {
    height: 100vh; /* Set the height to cover the entire viewport */
  }
  
  .bg-image {
    background-size: cover; /* Cover the entire element with the background image */
    background-position: center; /* Center the background image */
  }
  
  .container-full-width {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.searchbar {
  padding-top: 5rem;
  padding-bottom: 5rem; }

.why-choose-section {
  padding: 7rem 0; }
  .why-choose-section .img-wrap {
    position: relative; }
    .why-choose-section .img-wrap:before {
      position: absolute;
      content: "";
      width: 255px;
      height: 217px;
      background-image: url("../images/dots-yellow.svg");
      background-repeat: no-repeat;
      background-size: contain;
      -webkit-transform: translate(-40%, -40%);
      -ms-transform: translate(-40%, -40%);
      transform: translate(-40%, -40%);
      z-index: -1; }
    .why-choose-section .img-wrap img {
      border-radius: 20px; }

.feature {
  margin-bottom: 30px; }
  .feature .icon {
    display: inline-block;
    position: relative;
    margin-bottom: 20px; }
    .feature .icon:before {
      content: "";
      width: 33px;
      height: 33px;
      position: absolute;
      background: rgba(59, 93, 80, 0.2);
      border-radius: 50%;
      right: -8px;
      bottom: 0; }
  .feature h3 {
    font-size: 14px;
    color: #2f2f2f; }
  .feature p {
    font-size: 14px;
    line-height: 22px;
    color: #6a6a6a; }

.we-help-section {
  padding: 7rem 0; }
  .we-help-section .imgs-grid {
    display: -ms-grid;
    display: grid;}
    .we-help-section .imgs-grid:before {
      position: absolute;
      content: "";
      width: 255px;
      height: 217px;
      background-image: url("../images/dots-green.svg");
      background-size: contain;
      background-repeat: no-repeat;
      -webkit-transform: translate(-40%, -40%);
      -ms-transform: translate(-40%, -40%);
      transform: translate(-40%, -40%);
      z-index: -1; }
    .we-help-section .imgs-grid .grid {
      position: relative; }
      .we-help-section .imgs-grid .grid img {
        border-radius: 20px;
        max-width: 100%; }
      .we-help-section .imgs-grid .grid.grid-1 {
        -ms-grid-column: 1;
        -ms-grid-column-span: 18;
        grid-column: 1 / span 18;
        -ms-grid-row: 1;
        -ms-grid-row-span: 27;
        grid-row: 1 / span 27; }
      .we-help-section .imgs-grid .grid.grid-2 {
        -ms-grid-column: 19;
        -ms-grid-column-span: 27;
        grid-column: 19 / span 27;
        -ms-grid-row: 1;
        -ms-grid-row-span: 5;
        grid-row: 1 / span 5;
        padding-left: 20px; }
      .we-help-section .imgs-grid .grid.grid-3 {
        -ms-grid-column: 14;
        -ms-grid-column-span: 16;
        grid-column: 14 / span 16;
        -ms-grid-row: 6;
        -ms-grid-row-span: 27;
        grid-row: 6 / span 27;
        padding-top: 20px; }

.custom-list {
  width: 100%; }
  .custom-list li {
    display: inline-block;
    width: calc(50% - 20px);
    margin-bottom: 12px;
    line-height: 1.5;
    position: relative;
    padding-left: 20px; }
    .custom-list li:before {
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 50%;
      border: 2px solid #3b5d50;
      position: absolute;
      left: 0;
      top: 8px; }
      
.footer-section {
  padding: 80px 0;
  background: #ffffff; }
  .footer-section .relative {
    position: relative; }
  .footer-section a {
    text-decoration: none;
    color: #2f2f2f;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    .footer-section a:hover {
      color: rgba(47, 47, 47, 0.5); }
  .footer-section .subscription-form {
    margin-bottom: 40px;
    position: relative;
    z-index: 2;
    margin-top: 100px; }
    @media (min-width: 992px) {
      .footer-section .subscription-form {
        margin-top: 0px;
        margin-bottom: 80px; } }
    .footer-section .subscription-form h3 {
      font-size: 18px;
      font-weight: 500;
      color: #3b5d50; }
    .footer-section .subscription-form .form-control {
      height: 50px;
      border-radius: 10px;
      font-family: "Inter", sans-serif; }
      .footer-section .subscription-form .form-control:active, .footer-section .subscription-form .form-control:focus {
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-color: #3b5d50;
        -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2); }
      .footer-section .subscription-form .form-control::-webkit-input-placeholder {
        font-size: 14px; }
      .footer-section .subscription-form .form-control::-moz-placeholder {
        font-size: 14px; }
      .footer-section .subscription-form .form-control:-ms-input-placeholder {
        font-size: 14px; }
      .footer-section .subscription-form .form-control:-moz-placeholder {
        font-size: 14px; }
    .footer-section .subscription-form .btn {
      border-radius: 10px !important; }
  .footer-section .sofa-img {
    position: absolute;
    top: -200px;
    z-index: 1;
    right: 0; }
    .footer-section .sofa-img img {
      max-width: 380px; }
  .footer-section .links-wrap {
    margin-top: 0px; }
    @media (min-width: 992px) {
      .footer-section .links-wrap {
        margin-top: 54px; } }
    .footer-section .links-wrap ul li {
      margin-bottom: 10px; }
  .footer-section .footer-logo-wrap .footer-logo {
    font-size: 32px;
    font-weight: 500;
    text-decoration: none;
    color: #3b5d50; }
  .footer-section .custom-social li {
    margin: 2px;
    display: inline-block; }
    .footer-section .custom-social li a {
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      display: inline-block;
      background: #dce5e4;
      color: #3b5d50;
      border-radius: 50%; }
      .footer-section .custom-social li a:hover {
        background: #3b5d50;
        color: #ffffff; }
  .footer-section .border-top {
    border-color: #dce5e4; }
    .footer-section .border-top.copyright {
      font-size: 14px !important; }

.white-background {
  background-color: #ffffff; /* White color */
}

.btn {
  font-weight: 600;
  padding: 12px 30px;
  color: #ffffff;
  background: #2f2f2f;
  border-color: #2f2f2f;
  box-shadow: none !important;
}

.btn:hover {
  color: #ffffff;
  background: #222222;
  border-color: #222222;
}

.btn.btn-primary,
.btn.btn-secondary,
.btn.btn-success,
.btn.btn-danger {
  /* Ensure all buttons have the same padding */
  padding: 12px 30px;
}

.btn.btn-primary {
  background: #3b5d50;
  border-color: #3b5d50;
}

.btn.btn-primary:hover {
  background: #314d43;
  border-color: #314d43;
}

.btn-primary:active,
.btn-primary:focus {
  color: #ffffff !important;
  background-color: #2f2f2f !important;
}

.btn.btn-secondary {
  color: #ffffff;
  background: #314d43;
  border-color: #314d43;
}

.btn.btn-secondary:hover,
.btn.btn-secondary:active {
  background: #314d43;
  border-color: #314d43;
}


      .images {
        padding: 3px;
    }
    
    .images .text-center {
        padding: 4px;
    }
    
    .images img#main-image {
      max-width: 100%;
      height: auto;
      display: block; 
      overflow: hidden; 
    }
    .form-control.no-border {
      border: none;
      border-radius: 0;
      box-shadow: none; 
      padding: 0;
      margin: 0;
  }

  .notification {
    background-color: #dff0d8; /* Green background color for success notification */
    color: #3c763d; /* Text color for success notification */
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #d6e9c6;
}

.notification.error {
    background-color: #f2dede; /* Red background color for error notification */
    color: #a94442; /* Text color for error notification */
}